<mat-card class="card">
      <table mat-table [dataSource]="dataSource" matSort  class="mat-elevation-z8">
    
        <ng-container matColumnDef="make" style="padding-left:20px;">
            <th mat-header-cell *matHeaderCellDef mat-sort-header>Available Cars</th>
            <td mat-cell *matCellDef="let element"> {{element.make}} </td>
          </ng-container>
          <ng-container matColumnDef="model" style="padding-left:20px;">
            <th mat-header-cell *matHeaderCellDef mat-sort-header>Model Name</th>
            <td mat-cell *matCellDef="let element"> {{element.model}} </td>
          </ng-container>
          <ng-container matColumnDef="date_added" style="padding-left:20px;">
            <th mat-header-cell *matHeaderCellDef mat-sort-header>Date Added</th>
            <td mat-cell *matCellDef="let element"> {{element.date_added | date : 'medium'}} </td>
          </ng-container>
          <ng-container matColumnDef="licensed" style="padding-left:20px;">
            <th mat-header-cell *matHeaderCellDef mat-sort-header>Licensed</th>
            <td mat-cell *matCellDef="let element"> {{element.licensed?'Yes':'No'}} </td>
          </ng-container>
          <ng-container matColumnDef="view_details" style="padding-left:20px;">
            <th mat-header-cell *matHeaderCellDef mat-sort-header>View Car Details</th> 
            <td mat-cell *matCellDef="let element"><button [hidden]="!element.licensed" (click)='showCarDetails(element)'>view details</button></td>
          </ng-container>
        <tr mat-header-row *matHeaderRowDef="displayedColumns; sticky: true"></tr>
        <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
      </table>
  </mat-card>
